body{
	font-family: 'Open Sans', sans-serif!important;
}
.image_content img{
	border: 3px solid #F08080;

}
#leo
{
	background-image: url(../images/leonardo1.jpg);
}
a:hover {
	background-color: #00FF7F;
}
.navbar navbar-default li a:hover{
	background: red;
}
div.alert alert-warning{
	margin-top: 40px!important;
}
#ribbon {
	background-image: url(../images/raphael2.jpg);
	border: 5px solid #dedede;
	height: 200px;

}
#ribbon img{
	width: 90%;
}
.caption p{
	text-align: center;
}
#footer {
	width: 1000px;
	
}
#part1{
	width: 500px;
	float: left;
	clear: both;
}
#part2{
	float: right;
	width: 500px;
}
#col1{
	width: 200px;
	float: left;
	clear: both;
}
#col2{
	width: 200px;
	float: right;
}
















